@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

.color {
  background-color: rgba(255, 255, 255, 0.612);
  padding: 10px;
  line-height: 2.5;
  border: 5px solid rgba(255, 255, 255, 0.372);
  border-radius: 0px 36px 0px 36px;
}

#quote {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  width: 100%;
  margin: 20px;
}

p {
  font-size: 20px;
}

#viewport {
  background-size: cover;
}

.szppmdbYutt__middle-slot-promo {
  margin: 0px 700px 0px 700px;
  background-color: rgba(255, 255, 255, 0.434);
  border: 5px none rgba(255, 255, 255, 0.55);
  border-radius: 6px;
}
